
<div id="breadcrumb">Your Website &raquo; Welcome</div>
<div class="post"> <h2>Welcome to Business Blue </h2> 
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ultrices nulla eget tortor. Praesent tempor leo. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec porttitor tincidunt nisl. Aliquam nulla tellus, sollicitudin in, tempus in, congue vitae, risus. Phasellus condimentum odio. Etiam est ante, laoreet non, tempor fringilla, pellentesque vel, mi.  <%= link_to "Home", '#' %></p>
</div>

<div class="columns">
	<div class="col1">
		<h3 class="subhead">Первая колонка!</h3> 
		<p><img class="leftalign" src="/images/img1.jpg" alt="img1" width="50" height="50" />Первая колонка! Sed nunc ante, tincidunt ac, facilisis et, gravida non, purus. Cras convallis laoreet magna. Vivamus commodo, tellus non consectetuer volutpat. <%= link_to "Home", '#' %></p>
	</div>

	<div class="col3">
		<h3 class="subhead">Третья колонка!</h3>
		<p><img class="leftalign" src="/images/img3.jpg" alt="img1" width="50" height="50" />Третья колонка! Morbi tempus, eros vel euismod tincidunt, libero neque congue leo, id adipiscing ante sapien nec nisi. Nulla quis sem vitae neque laoreet rutrum. <%= link_to "Home", '#' %></p>
	</div>
	
	<div class="col2">
		<h3 class="subhead">Вторая колонка!</h3>
		<p><img class="leftalign" src="/images/img2.jpg" alt="img1" width="50" height="50" />Вторая колонка! Duis eget felis ornare neque aliquet euismod. Curabitur lorem. Proin malesuada risus in massa. Integer pharetra. Vivamus iaculis lacus non libero. <%= link_to "Home", '#' %></p>
	</div>
</div>

<div class="clear2"></div>
<div class="post">
	<h2>Some Text here too..</h2>
	<p>Morbi risus elit, feugiat non, dignissim sed, luctus ac, odio. Mauris ipsum. Nullam dapibus, nibh ac egestas tempus, erat erat lacinia nibh,</p>
</div>


