<p>YourCompany &copy; All rights Reserved</p>
<p>Home | About Us | Products | Services | Careers | Privacy Policy | Contact </p> 
<p id="credit"><%= link_to "Home", '#' %> by RamblingSoul | Sponsored By <%= link_to "Home", '#' %>  Design downloaded from <%= link_to "Home", '#' %></p>